[2018-11-18 14:01] roblaszczak opened #3 "RabbitMQ (AMQP) Pub/Sub"

[2018-11-18 14:02] roblaszczak opened #4 "Google Cloud PubSub"

[2018-11-18 14:02] roblaszczak opened #5 "MySQL Binlog"

[2018-11-18 14:06] roblaszczak opened #6 "CQRS support"

[2018-11-18 14:06] roblaszczak opened #7 "Sagas support"

[2018-11-18 14:07] roblaszczak opened #8 "Event sourcing support"

[2018-11-20 12:45] maclav3 commented on #4
#10

[2018-11-21 15:48] prune998 opened #12 "NATS Pub/Sub"
https://nats.io/

[2018-11-21 18:59] gedw99 commented on #12
yes this would be very useful as i prefer pure golang solutions for ease of ops, etc
Also its important it has persistence and so NATS Stream would be needed with one of the included databases.
I think however that NATS Streaming does not allow message topics to be setup at runtime. Not sure..

[2018-11-21 23:02] gedw99 commented on #12
@roblaszczak
Have you seen whats happening with knative and cloudevents ?
Its basically a formalised approach to event sourcing / messaging.

Some URLS
https://github.com/cloudevents/sdk-go
- the linux working groups spec and implementation.
https://github.com/knative/eventing-sources
- Google implemenation

[2018-11-22 07:50] roblaszczak commented on #12
@gedw99 I will check, thanks :+1:

[2018-11-22 08:27] roblaszczak opened #14 "Logging error when produced Messages and returned error"
When error is returned in handler we are discarding produced messages.

[code]

We should log error in this situation.

[2018-11-22 13:34] jeroenrinzema commented on #14
Maybe it is a good idea to draw inspiration from the http [`ResponseWriter`](https://golang.org/pkg/net/http/#ResponseWriter). Including a response writer allows the error to be handled instantly instead of it being thrown in a "global" log.

[2018-12-04 07:15] m110 commented on #5
I guess logical decoding could be used, as in debezium: https://debezium.io/docs/connectors/postgresql/
Although I'm not sure if there is a library for Go at the moment.

[2018-12-10 21:21] roblaszczak opened #17 "HTTP Publisher"
HTTP publisher implementation will work like webhooks based on produced messages.

[2018-12-15 13:21] sagikazarmark opened #21 "Add context to the message"
It might be a good idea to add a `context.Context` to the message (just like in case of `http.Request`) to allow passing information through API boundaries. This could be a way to implement distributed tracing for example.

[2018-12-15 14:16] roblaszczak commented on #21
Hello, message already has something that can be used as a context: metadata.

It is also a middleware which can be used for distributed tracing: https://github.com/ThreeDotsLabs/watermill/blob/master/message/router/middleware/correlation.go

Does it meet your requirements? :)

[2018-12-15 14:32] sagikazarmark commented on #21
Yeah, I know it has metadata, but it cannot accept a `context.Context` since it only supports string metadata.

As for distributed tracing: in simple cases and for logging a correlation ID might be enough, but in a distributed system which uses a more sophisticated tracing mechanism (eg. OpenTracing or OpenCensus) it may not be enough.

Ideally the distributed tracing middleware would extract the

[2018-12-18 13:17] roblaszczak commented on #21
Lengyel, magyar – két jó barát, so added in :tada: #21

[2018-12-18 13:17] #21 closed

[2018-12-18 13:19] roblaszczak commented on #12
Added in #19 :tada: @prune998 @gedw99 - I will be appreciated the feedback :)

[2018-12-18 13:19] #12 closed

[2018-12-18 13:19] roblaszczak commented on #4
Released with v0.2.0.

[2018-12-18 13:19] #4 closed

[2018-12-18 14:09] sagikazarmark commented on #21
WOW, nice 🙂 Thanks a lot!

[2018-12-19 14:52] mrkaspa commented on #3
@roblaszczak what is the progress on this?

[2018-12-19 16:06] roblaszczak commented on #3
Nothing was done yet. It will be great if you would like to help with this :) It's already a short guide, which should guide you on how to implement own Pub/Sub: https://watermill.io/docs/pub-sub-implementing/
You should also take a look for some existing implementations of Pub/Subs, for example NATS: https://github.com/ThreeDotsLabs/watermill/blob/master/message/infrastructure/nats/subscriber.go

[2018-12-22 09:13] olpie101 commented on #8
Hello,

I am keen on contributing. I am wondering if there are any design ideas for this component, that could form the basis of an initial discussion and/or implementation.

[2019-01-02 08:33] roblaszczak commented on #8
Hello @olpie101. For this moment there aren't any written concept yet. If you have some ideas or sources feel free to post it here :)

[2019-01-16 17:35] roblaszczak commented on #6
Added proposal: #30

[2019-02-06 12:46] roblaszczak commented on #3
added in PR #33

[2019-02-06 12:46] #3 closed

[2019-02-06 12:46] roblaszczak commented on #17
added in PR #27

[2019-02-06 12:46] #17 closed

[2019-02-07 12:36] roblaszczak commented on #14
obsolete

[2019-02-07 12:36] #14 closed

[2019-02-13 12:42] roblaszczak commented on #6
#30 merged. Docs: https://watermill.io/docs/cqrs/

[2019-02-13 12:42] #6 closed

[2019-02-13 22:23] delaneyj opened #49 "Clarification for reading multiple events"
In the [docs](https://watermill.io/docs/cqrs/#building-a-read-model-with-the-event-handler) `BookingsFinancialReport` is only listening for `RoomBooked` however what if it needed to listen to multiple event types to form the read model.

My guess is you'd have to have a composite of struct each listening for a single event type.  Wanted to avoid boilerplate but just making sure before moving forwa

[2019-02-13 22:30] roblaszczak commented on #49
Correct. In this situation, I will suggest to not put any logic to `Handle()` but just call another service which will be the same for both.

[2019-03-06 09:31] MartinForReal opened #57 "reuse nats streaming connection"
I think it would be a good idea to reuse nats connection if I need to run publisher and subscriber in one program.

The scenario would be as follows

I need to subscribe a queue to get command from other agent, and send reply by issuing events in another queue. So I need to setup a publisher and  subscriber in one program. But I need to provide two different client-id.

[2019-03-06 15:38] marcofranssen opened #60 "Failing "go get -u github.com/ThreeDotsLabs/watermill" on Windows"
Following fails on my Windows. It looks like watermill is having some exotic external dependencies which do not work out of the box on Windows, neither it is documented bzr is required.

This makes it hard to get a working environment on at least Windows to use watermill. Would be great if this could be simplyfied. Or maybe some of external deps to be internalized.

[code]

[2019-03-06 17:11] roblaszczak commented on #60
I did some go.mod cleanup on the master. Can you check `go get -u github.com/ThreeDotsLabs/watermill@master`?

Of course we will add these changes to the release, but it need a bit of testing but generally it should work fine :)

[2019-03-06 18:49] marcofranssen commented on #60
Thanks Robert,

I will give it a shot tomorrow and let you know.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Robert Laszczak <notifications@github.com>
Sent: Wednesday, March 6, 2019 18:11
To: ThreeDotsLabs/watermill
Cc: Marco Franssen; Author
Subject: Re: [ThreeDotsLabs/watermill] Failing "go get -u github.com/ThreeDotsLabs/watermill" on Windows (#60)

I di

[2019-03-07 10:27] marcofranssen commented on #60
Did give it a shot. Below the new error ;)

[code]

[2019-03-07 10:45] roblaszczak commented on #60
Can you try to remove C:/private-stuff/go-workspace/pkg/mod/cache/vcs/
dbefe9d952531da41030e8565a04a4b41c255a5f682a843c38d4
00f856098ce9/shallow.lock? Looks like some git/Windows problem here.

On Thu, 7 Mar 2019 at 11:27, Marco Franssen <notifications@github.com>
wrote:

[2019-03-11 16:07] marcofranssen commented on #60
I cleared out my whole C:/private-stuff/go-workspace/pkg/mod/cache folder. I think this might be a bug with `go get` which leaves lock files around when `go get` is failing. `go get -u github.com/ThreeDotsLabs/watermill@master` took me more then 20 minutes. with all the deps to be downloaded. Not sure if that is related to only watermill or because of restoring the cache.

[2019-03-11 16:07] #60 closed

[2019-03-13 13:05] Bouwdie opened #61 "Integration with go cloud development toolkit pubsub"
Hey guys. First of all compliments on the project! Recently i came across the pubsub abtsraction in the google cloud development toolkit: https://gocloud.dev/pages/pubsub. I think it would be a great addition to your systems to integrate with this toolkit. This would prevent us writing our own implementation for AWS and Azure ourselfs, and leverage the power of the CDK :tada:

[2019-03-15 01:37] MartinForReal commented on #57
close issue because pr is merged

[2019-03-15 01:37] #57 closed

[2019-03-17 13:10] roblaszczak commented on #60
@marcofranssen We will split Pub/Subs to separated repositories before v1.0 release, it may reduce dependencies size :)

[2019-04-10 16:23] MartinForReal opened #64 "subscribe for new messages and invoke different handler based on message types"
Router create a channel for each handler and I think it would be a good idea to subscribe new messages and invoke different handlers. because it has better performance.

[2019-04-17 14:26] danielllek opened #65 "amqp message rejected if header is not string"
I've got message with header that is not string, and it gets rejected by watermill:
`[watermill] 2019/04/17 15:48:14.371452 subscriber.go:245:       level=ERROR msg="Processing message failed, sending nack" amqp_exchange_name=x amqp_queue_name=y err="metadata x-death is not a string, but []interface {}....`

`x-death` header is added by dead letter, and I would like to process this message again a

[2019-04-17 18:23] roblaszczak commented on #65
Metadata are strings because almost all of Pub/Subs are supporting only simple types for metadata. So the main thing that we need to keep is to make `amqp.Marshaler` transparent, so you can make multiple Pub/Subs pipelines.

So to solve it and keep backward compatibility we can make custom marshaling of `x-death` to string. What values it contains? Some ints? And do you know about any other header

[2019-04-18 07:24] danielllek commented on #65
Until now it's the only one that makes problems, my example value (dump by spew):
[code]

[2019-04-18 13:32] danielllek commented on #65
OK, custom marshaler works for me, thanks.
But nevertheless watermill shouldn't fail on standard headers ;)

[2019-04-18 14:31] roblaszczak commented on #65
Yup, it is not so good :)

I have couple ideas how it can be fixed, but nothing sounds good:
1. Using gob to marshal Rabbit's metadata to message metadata, but it will break all string headers
2. Storing some metada fields in ctx, but if someone will overwrite ctx we will lose this information
3. We can use for some "special" metadata fields (maybe some prefix in name) which will serialized with g

[2019-04-19 09:09] danielllek commented on #65
clarifying 3:
1. normal headers will be strings like currently
2. complex types will be _gob'ed_ and key will be something like: `x-death__gob`?

If you mean something like that, I like that :)

[2019-04-19 10:10] roblaszczak commented on #65
Exactly :)

[2019-04-29 12:23] lebaptiste opened #69 "Retrieve Kafka topic partitions offset"
I have an API service which needs to consume a Kafka compacted topic before to be considered ready to handle any request traffic. How can I determine its readiness?

In this case, it would be best to know how many messages are still left to process before to have catched up with the latest messages on the topic. It seems there is no way to know this information currently.

I suggest the partitions

[2019-04-29 18:50] roblaszczak commented on #69
Some questions:
1. This check of offsets is relatively rare? I mean it will be not done like 10x/s?
2. You can have multiple partitions and consumer groups? Consumer group per service? Or no consumer groups?

Possible solutions:
1. We can add message offset to message context and method to get topic last offset (per partition). You can get offsets at the beginning and wait until you reach them. Do

[2019-04-30 10:58] lebaptiste commented on #69
I would say solution 1 is preferable and makes sense to me however I don't know how much Watermill should try to be consistent across all pub/sub implementations as this change would have to be Kafka specific.

[2019-04-30 11:35] mateusz-szczyrzyca commented on #69
@lebaptiste : I don't know if current kafka Go drivers allow you to query how many messages are still not consumed: https://github.com/Shopify/sarama/issues/489

I would suggest to keep the offset by your consumer app, if you are not using consumer group, and use this offset to start consume from specific offset (instead of beginning).

[2019-05-01 06:55] roblaszczak commented on #69
@lebaptiste there is no requirement that Pub/Sub implementations are limited with PubSub interface, we can add some extra methods :) I'm now going to the holiday and I will be back on Monday. If you have some time you can try to experiment with adding extra methods to the existing Kafka Pub/Sub for getting these offsets.

[2019-05-08 22:11] roblaszczak commented on #69
@lebaptiste I added Proof of Concept in `kafka-offsets-info` branch (#71).

There are:
- `kafka.MessagePartitionFromCtx` method to get msg partition from ctx
- `kafka.MessagePartitionOffsetFromCtx` to get offset from ctx
- `kafka.Subscriber.PartitionOffsets` to get partition informations for the topic

What do you think? :)

You can try it with using `go get -u github.com/ThreeDotsLabs/watermill@k

[2019-05-16 06:48] bkielbasa opened #74 "Better integration with opentracing"
Jaeger is kind of multilanguage standard for opentracing -> https://www.jaegertracing.io/
The **required**  header name

[code]
Is Watermill specific, but messages produced/consumed by this library can be used by anything else. So I can suggest a few things:

* change the header name to the same that Jaeger uses
* add support for tracer and opentracing https://github.com/opentracing/opentracing-go

[2019-05-17 07:13] MartinForReal opened #77 "Define interface for infrastructure component"
I think it is a good idea to define an interface for different infrastructure to unify message processing logic. Also, It would help when we need to write unit test cases.

Here we defined an interface for Config.

End-user may need to get configuration from the command prompt. Also, there are a few utilities to bind command flag with config files and environment variables. Such as github.com/spf1

[2019-05-19 18:07] roblaszczak commented on #74
Hello, Message UUID is something different than tracing ID :) Tracing ID can be the same for multiple messages (where the payload is different), but UUID should be unique for every message.

I already did some PoC of middleware which will support it. It will probably one of most important part of v1.0 release. Stay tuned! :)

[2019-05-19 18:24] roblaszczak commented on #64
This is a design choice. When we are receiving messages in some Pub/Subs we want to keep messages in order (for examples in Kafka). And because of it, we cannot spawn multiple subscriptions. And it is up to subscriber implementation to deliver more messages when order is not mandatory (like Google Cloud Pub/Sub for example).

[2019-05-19 18:24] #64 closed

[2019-05-20 06:14] #77 closed

[2019-05-26 16:06] shah opened #81 "SMTP-based MQ engine"
I was looking for an SMTP-based MQ pub/sub capability: basically using gmail or any other SMTP provider as a "poor man's" MQ for small number of messages. Has anyone seen such a system that can be wrapped as a Watermill component?

[2019-06-01 10:30] roblaszczak commented on #81
Hello, I think that it is possible to implement it :) If you want to experiment a bit with it you can start with this page: https://watermill.io/docs/pub-sub-implementing/ If you need any help, please ask!

[2019-06-02 15:37] shah commented on #81
Thanks @roblaszczak. I wonder if you know anyone in the Watermill community I can hire to build a PubSub engine for the [GMail golang API](https://developers.google.com/gmail/api/quickstart/go). What I'd like to do is to use GMail as a low-traffic MQ :-)

[2019-06-04 18:31] roblaszczak commented on #81
@m110 @maclav3 ? :) but we are now mostly focused on releasing v1.0 so it may be hard. The question is what do you need to particularly have SMTP based queue, or some SQL (MySQL, Postgres?) base Pub Sub will be also acceptable? I'm asking because SQL databases are also commonly available and we will add SQL based PubSub with v1.0 release.

[2019-06-06 12:07] shah commented on #81
We're planning on using gmail for MQ because we need some manual intervention with certain messages (tagging, deleting, etc.) and that's easy to do since there's a UI available in gmail that non-technical users can use with ease. With any other MQ store we'd need to create an admin UI.

[2019-06-11 12:34] sagikazarmark opened #95 "Cannot install latest master"
Trying to install latest master using go modules and replace:

[code]

I receive the following error:

[code]

Looks like the repo has been archived and there is no such revision.

[2019-06-14 20:45] roblaszczak commented on #95
They removed v0.4.5 release :/ fixed on master in #98. Also, please keep in mind that master is development branch and maybe not stable:)

Thanks for reporting the issue!

[2019-06-14 20:45] #95 closed

[2019-06-14 21:44] sagikazarmark commented on #95
Sure thing, thanks for the fix

[2019-07-13 13:27] Dionid commented on #49
@delaneyj Have you find a way that satisfied your request?
@roblaszczak Can you write example, please?

[2019-07-14 21:47] roblaszczak commented on #49
example:
[code]
In that case, EventHandler is just calling something which is responsible for building read models (also, Single Responsibility Principle will be satisfied here :)).

did it help? :)

[2019-08-11 23:53] wyxloading opened #110 "Redis base MQ"
Redis 5.0 release new data type: [Stream](https://redis.io/topics/streams-intro)
That's really powerful mq now.
Besides, redis below version 5, may use data type "list" to implement a mq (i think it should fit software framework that has not much third party dependencies)

[2019-08-13 14:09] aMFeriuSS opened #111 "Found data race on Close() (in Router and GoChannel). Version v1.0.0-rc.1"
Hello! I found some data races (probably).
Am I doing something wrong maybe (wrong closing)?

Code:
[code]

Logs for gochannel.Gochannel.Close() (for message.Publisher)
` go test -failfast -count 1 -race ./ledger/light/integration -run '^Test_BootstrapCalls$'`

[code]

And this - data race for message.Router.Close():
[code]

Logs for message.Router.Close() (for message.Publisher)
`go test -failfas

[2019-08-13 17:48] joeblew99 commented on #5
@roblaszczak
i would not use any of the Deebzium stuff. I dont like its approach.

for MySQL use this: https://github.com/uber/storagetapper

for PostreSQL use thunder: https://github.com/samsarahq/thunder/blob/v0.5.0/livesql/binlog.go

let me know if your curious

[2019-08-13 18:33] roblaszczak commented on #5
@joeblew99  for now simple sql-queries based subscriber is available: https://github.com/ThreeDotsLabs/watermill-sql

We have in plans add also Binlog based subscriber, but we need more time and be sure that this simple implementation is stable :)

[2019-08-13 18:34] roblaszczak commented on #49
I hope this is clean. If not - please let us know :)

[2019-08-13 18:34] #49 closed

[2019-08-13 18:42] joeblew99 commented on #5
I had a look at  https://github.com/ThreeDotsLabs/watermill-sql

Its a bit obtuse as to what its doing exactly.

Is there any docs ?

On Tue, Aug 13, 2019 at 8:33 PM Robert Laszczak <notifications@github.com>
wrote:

[2019-08-13 19:18] roblaszczak commented on #5
@joeblew99 so creating docs is in progress so it may be not clear, but in short:
- you are able to produce and consume messages from MySQL (but you can extend it for other SQL's if you need) tables
- it's using just SQL queries, it's slow but fast enough for a lot of projects (for projects where it's not - we will introduce binlog implementation
- and it's of course fully compatible with Watermill

[2019-08-14 10:16] joeblew99 commented on #5
@roblaszczak Thanks and this all makes sense.

[2019-08-14 10:24] joeblew99 opened #112 "Cross-languages example"
@roblaszczak
The Architectural constructs are really nice.
But if someone has to use python or rust or blah blah for their "MicroService" what options are there ?

GRPC API  wrapping Watermill BUS and SQL layers ?
GRPC Gateway wrapping GRPC ?
Other ideas ?

Or OUT OF SCOPE ?

[2019-08-15 20:25] m110 commented on #111
Hey @aMFeriuSS, thanks for posting these. Your code is fine, it's an issue with checking if the pub/sub is closed. I'm looking into it and will post a PR along with additional tests.

[2019-08-15 20:32] m110 commented on #112
Hey @joeblew99. Do you mean other microservices communicating with watermill-based applications? If so, it shouldn't be an issue, as the messages are not any special when consumed/produced by watermill (except metadata). So can use any other library to produce messages, that will be consumed by watermill and the other way around.

Can you think of some example of this?

[2019-08-26 08:38] andreyromancev commented on #111
Hey @m110, thanks for fast reply. How is it going there? We are having problems with data races in our tests. Would be awesome to see it fixed soon!

[2019-08-26 17:23] m110 commented on #111
Hey @andreyromancev. Currently working on it, I expect to have all races fixed within few days.

[2019-08-28 14:23] m110 commented on #111
Fixed in v1.0.0-rc.3.

[2019-08-28 14:23] #111 closed

[2019-08-29 06:36] kjelle commented on #69
As commented by the Sarama author in [Shopify/sarama#489](https://github.com/Shopify/sarama/issues/489) it depends on how you store offsets. IIRC Sarama does not do this out of the box.

I store the offsets in Kafka __consumer_offsets manually, then calcualte a "lag" by periodically compare the offset per consumer_group:topic:partition against the OffsetNewest. I run Sarama by disabling its auto-o

[2019-08-29 06:48] kjelle commented on #69
@lebaptiste I have a service which loads a compacted topic from beginning upon start. The service blocks while loading all events from Kafka. I determine the completion of this loading process by comparing the HighWaterMarkOffsets given by a partition against the offset state in my app for the same partition. When all offsets in all partitions align, the service has caught up.

In the background I

[2019-09-04 07:45] wyxloading commented on #110
Check this if you guys interested

https://github.com/wyxloading/watermill-redisstream

[2019-09-04 20:25] roblaszczak commented on #110
@wyxloading looks very good! :)

Did you have any bigger problems during implementing? I'm asking because we are planning to create contributors guide and I'm not sure what can be missing from your perspective :)

I need more time to look on it, but we would add a link to it to README or if you prefer we can also consider to add it under ThreeDotsLabs/watermill-redisstream (but it's up to you) :)

[2019-09-05 02:12] wyxloading commented on #110
Watermill v1.0 is so nice. I only need to set features i want to implement, then run test.
But `BenchSubscriber` result is kind of confused. It would be nicer if benchmark focus on the subscriber throughput.

Currently, watermill-redisstream is not production ready. I don't suggest adding to readme at this time. ( I am using in production, please let me check if there is something wrong. )
Add it

[2019-09-06 16:46] koolay opened #123 "support rpc over message server"
There is a plan for supporting rpc over message?

[nats](https://nats-io.github.io/docs/developer/concepts/reqreply.html)
[rabbitmq](https://www.rabbitmq.com/tutorials/tutorial-six-go.html)

[2019-09-06 20:17] m110 commented on #123
While it's supported for some Pub/Subs, it seems the semantics are not really compatible with current watermill's interfaces. It could be done by a separate component, like with CQRS. There is a chance that it would work even for other Pub/Subs. I guess we could consider something like that in the future.

[2019-09-12 11:19] sagikazarmark opened #125 "Add CloudEvents integration"
[CloudEvents](https://cloudevents.io/) is a specification for sending events in the cloud native environment. They also provide SDKs.

It might be a good addition to the project to support CloudEvents. Although it's not stable yet, as of 0.3 the "core" is considered to be stable enough.

[2019-09-16 18:51] roblaszczak commented on #74
I already started to work on it, but I had not enough time to finish: https://github.com/ThreeDotsLabs/watermill/pull/102/
If you need reference implementation, you should check: https://github.com/census-instrumentation/opencensus-go/ (as I remember, somewhere near to plugin/ochttp/trace.go ;) )

I added *help wanted* label, so if anyone is interested to help feel free ;) In case of any questions

[2019-09-16 18:53] roblaszczak commented on #81
Unfortunately, it's pretty unlikely that we will have time to push it forward. In theory, it is possible to implement it but our recommendation is to use more traditional Queue or Pub/Sub :)

[2019-09-16 18:53] #81 closed

[2019-09-16 18:55] roblaszczak commented on #112
I hope that examples should be much better now. If something is not clear, please ask :)

https://github.com/ThreeDotsLabs/watermill/tree/master/_examples

[2019-09-16 18:57] roblaszczak commented on #123
As Milosz said, currently by design we are not supporting RPC over message by design - our architecture design is totally different and we favor [CQRS](https://watermill.io/docs/cqrs/) for it.

[2019-09-16 18:57] #123 closed

[2019-09-16 18:58] roblaszczak commented on #125
We will look on that :) Do you think that may be integrated as a component? Or closer to Pub/Sub?

[2019-09-16 19:01] roblaszczak commented on #69
I did Proof of Concept already: https://github.com/ThreeDotsLabs/watermill/pull/71
If someone is interested you can improve it (and move to https://github.com/ThreeDotsLabs/watermill-kafka repository).

[2019-09-16 19:02] roblaszczak commented on #61
Sounds good for me. If someone is interested with implementation, here is guide how to approach it: https://watermill.io/docs/pub-sub-implementing/

[2019-09-16 19:03] roblaszczak commented on #8
In progress! :) I will publish some proof of concepts soon.

[2019-09-16 19:10] joeblew99 commented on #112
@m110

Yes, for example if you code in python or whatever. I was thinking about the idea of using protobufs for all API aspects. Then the transport is independent and so can be used in various ways by developers using different languages.
Of course you could just use grpc gateway and default to a Rest like approach but it can to limiting.

Example.
A team and they are building a large system that

[2019-09-16 19:17] roblaszczak opened #126 "PostgreSQL LISTEN/NOTIFY Subscriber"
The same as #5, but for PostgreSQL :)

This implementation should be added in https://github.com/ThreeDotsLabs/watermill-sql/ repository. It **need to be compatible with already existing SQL Subscriber**.

That means, that you should use SQL publisher for publishing messages, and binlog subscriber to read them.
We would, of course, keep already existing SQL based subscriber.

I'm not expert in Pos

[2019-09-16 19:19] roblaszczak opened #127 "PostgreSQL suport in watermill-sql"
https://github.com/ThreeDotsLabs/watermill-sql/ was built using MySQL.

To make it work with PostgreSQL you probably need to:
- [ ] Implement schema adapter
- [ ] Add PostgreSQL in docker-compose
- [ ] Add tests
- [ ] :champagne:

[2019-09-16 19:22] roblaszczak opened #128 "MongoDB Pub/Sub"
Because, why not.

To implement this Pub/Sub you would like to check:
- [ ] https://watermill.io/docs/pub-sub-implementing/
- [ ] https://github.com/ThreeDotsLabs/watermill-sql/ (because of similar characteristics of implementation)

It may be useful for #8 in the future.

[2019-09-16 19:27] roblaszczak opened #129 "Eventstore Pub/Sub"
I didn't use Eventstore, so probably some design discussion is needed. As I remember there was some mechanism that may fit pretty well to Pub/Sub abstraction.

To check:
- [ ] https://watermill.io/docs/pub-sub-implementing/
- [ ] https://github.com/jetbasrawi/go.geteventstore
- [ ] https://github.com/jdextraze/go-gesclient

[2019-09-16 19:29] roblaszczak opened #130 "Replace kafka-console-consumer with Mill in examples"
Basically, we don't need to have kafka-console-consumer, we have mill instead: https://github.com/ThreeDotsLabs/watermill/tree/master/tools/mill

It would be nice to replace it in all examples.

[2019-09-16 19:31] roblaszczak opened #131 ""Duplicate chaos monkey" middleware"
It would be nice, to have middleware that sends the message twice, to be sure that our handlers are idempotent.

[2019-09-16 19:33] roblaszczak opened #133 "Middleware per handler"
Currently, you are not able to use middleware per handler in "clean way" (you can still manually wrap the handler function, or have separated router).

It would be nice to be able to add middleware per handler.

As a good reference point, you can use chi router: https://github.com/go-chi/chi

[2019-09-16 20:23] roblaszczak commented on #112
@joeblew99 is the title better now?

[2019-09-17 12:43] sagikazarmark commented on #125
I think it's closer to Pub/Sub, but I have to admit, I'm not that familiar with the spec. Maybe looking at the implemented SDKs could answer that question.

[2019-09-25 07:01] 0michalsokolowski0 commented on #133
I want to work on it

[2019-09-25 07:43] iwyg commented on #129
How would you decide to which stream events should be published? Extract the stream id from the message metadata, or maybe extract it from the topic string?

[2019-09-28 15:07] m110 commented on #127
Work in progress, mostly ready for review:
* https://github.com/ThreeDotsLabs/watermill-sql/pull/3
* https://github.com/ThreeDotsLabs/watermill/pull/147

[2019-09-30 18:09] 0michalsokolowski0 commented on #133
PR: https://github.com/ThreeDotsLabs/watermill/pull/149

[2019-10-01 21:03] Pangoraw commented on #128
I started to take a look at it, I will try to submit my work soon :+1:

[2019-10-05 11:16] winwisely99 opened #150 "Postresql ?"
Have you seen yubabyte db. Its 100% open equivalent to Cockroach.
It uses a Postresql api
have redis api and cassandra api too but its all done with the underlying yugabyte engine.
Pretty cool and its basis is event driven. It called the READ ONLY instances Tablets ( cute name ).

SO i noticed you only have mysql diver at the moment.

[2019-10-05 11:19] winwisely99 opened #151 "bad link"
https://watermill.io/pubsub/sql is dead and its used in the readme's

[2019-10-10 16:50] 0michalsokolowski0 commented on #151
https://github.com/ThreeDotsLabs/watermill/pull/152 Should fix it

[2019-10-10 16:50] 0michalsokolowski0 commented on #131
I would like to work on it

[2019-10-10 16:50] 0michalsokolowski0 commented on #5
I would like to work on it

[2019-10-10 19:49] #151 closed

[2019-10-12 09:45] roblaszczak commented on #129
@iwyg I had no time to dig into it to be honest :) If you have some knowledge about EventStore and you can provide some ideas/guidelines it may be helpful for me or someone who would like to implement this Pub/Sub implementation ;)

[2019-10-12 15:17] m110 opened #154 "Amazon SQS/SNS Pub/Sub"
Some initial PoC: https://github.com/m110/watermill-amazonsqs

[2019-10-12 21:47] p4tin opened #486 "[amazonsqs] Refactor the utils.go and marshaller/unmarshaller into separate packages"
Move those common components out of the `amazonsqs` package into a separate `utils` package?

[2019-10-14 12:10] yordis opened #155 "Event Sourcing Completeness"
# Event Sourcing Completeness

As of today, we have a fantastic infrastructure to build a complete Event
Sourced system with few components.

- Messages
- Pub/Sub
  - Routing
  - Middlewares

And we have few components related to Event Sourcing following the CQRS docs.

However, I would like to track the completeness of Watermill based on what you
are trying to accomplish.

Completeness could mean

[2019-10-14 15:17] yordis commented on #129
For the most part, the stream ID is the Kafka topic or some sort of ID that identifies the particular stream that you are pushing the events to.

[2019-10-22 19:10] roblaszczak commented on #155
## Commands

- [x] **Command Bus**: Message bus for commands.
- [x] **Command**: data structure representing a command.
- [x] **Command Handler**: handles the incoming commands.
- [x] **Router**: routes the incoming command to its command handler.
- [ ] **Validations**: validates the command before dispatching the command.  **~it depends what validation means ;) but at this moment if command can b

[2019-10-29 11:50] eafzali commented on #69
Any news on this?
We have exactly the same scenario, what I tried to do was that I tried to add offset values to the message context in our custom Marshaler, and then try to retrieve them in a middleware which is responsible to determine the readiness of the service. but the problem is that after Unmarshaling the Kafka message you are replacing the message context with the subscriber context:

htt

[2019-11-03 10:22] roblaszczak commented on #69
Hello @eafzali, I already started to implement it here:
https://github.com/ThreeDotsLabs/watermill/pull/71/files

but I don't know when I will have time to finish that :)

But if you want it would not require a lot of work to finish it. Basically it requires to move it to https://github.com/ThreeDotsLabs/watermill-kafka repository add some tests (as I remember it was working more or less).

[2019-11-04 15:11] eafzali commented on #69
OK nice, I think I can do that :)
I would also need to add `MessageTopicFromCtx`, or is there any other way to get the message topic in a middleware?

[2019-11-08 21:13] Jonathan34 commented on #5
@0michalsokolowski0 wondering if you made any promising progress on that? i am probably fine with mysql select queries but just wondering

[2019-11-11 11:44] roblaszczak commented on #69
@eafzali probably the best idea to make it universal, would be adding it somewhere in the router :) PR is also welcome for that! :)

[2019-11-13 07:07] mmaedel opened #159 "Proposal: New Name "datamill""

[2019-11-14 21:00] #131 closed

[2019-11-15 11:26] sexyhamster opened #160 "Outdated shortuuid"
Shourtuuid moved to go.mod and removed tag

`go: github.com/renstrom/shortuuid@v3.0.0+incompatible: unknown revision v3.0.0`

[2019-11-15 12:58] Jonathan34 opened #162 "Publish silently commits the transaction"
See the following code.
With gorm as a wrapper and with autoinitialize schema true, the publish will commit the transaction without any explicit tx.commit().

https://goplay.space/#0YHAklO60Ns

The workaround is to precreate the schema your self and disable the flag to create it automatically...

[2019-11-15 16:53] #160 closed

[2019-11-16 10:58] medcampus opened #163 "github.com/renstrom/shortuuid@v3.0.0+incompatible: unknown revision v3.0.0"

[2019-11-16 11:01] roblaszczak commented on #163
Hello, did you updated Watermill to [v1.0.2](https://github.com/ThreeDotsLabs/watermill/releases/tag/v1.0.2)?

[code]

[2019-11-16 19:58] roblaszczak commented on #159
Hmmm, no :P

[2019-11-16 19:58] #159 closed

[2019-11-16 21:00] roblaszczak commented on #162
Hello, we are working on this issue. For now, you can set `AutoInitializeSchema` to false.

[2019-11-17 17:25] roblaszczak commented on #163
I checked and everything should be fine, in case of any problems please let me know :)

[2019-11-17 17:25] #163 closed

[2019-11-19 20:03] joeblew99 commented on #112
@roblaszczak yes thanks :)

[2019-11-23 13:37] #127 closed

[2019-12-03 20:45] #69 closed

[2019-12-10 00:06] maclav3 commented on #162
https://github.com/ThreeDotsLabs/watermill-sql/pull/6 addresses this problem.

So the problem is that with MySQL, a `CREATE TABLE` always commits any ongoing transaction.
https://dev.mysql.com/doc/refman/8.0/en/implicit-commit.html

I don't think we're able to circumvent it, so the pull request makes `NewPublisher` return an error when `AutoInitializeSchema` is on, and the `db` handle looks like a

[2019-12-10 21:02] roblaszczak commented on #162
So probably ThreeDotsLabs/watermill-sql#6  is all that we can do here - if someone is trying to use transaction and initialize schema error will occur.

[2019-12-10 21:02] #162 closed

[2020-01-14 15:19] joy4eg opened #172 "update sarama version in kafka package"
Looks like that [PR](https://github.com/Shopify/sarama/pull/1531) was merged a while ago and new version was released - [1.25.0](https://github.com/Shopify/sarama/releases/tag/v1.25.0)

So it's time to upgrade go modules.

Thanks!

[2020-01-15 12:56] flamedmg opened #173 "[watermill-amqp] / poison queue is publishing messages to nowhere"
PosonQueue middleware publishing messages with error without any errrors, but they do not appear anywhere in the rabbitmq. Queue with selected name is not created either.

[2020-01-24 09:57] kfreiman opened #174 "Wildcard subscription"
It would be convinient to have ability subscribe on multiple topics via wildcard character (asterisk)

[code]

[2020-01-27 21:04] roblaszczak commented on #174
Hello @kfreiman, which Pub/Sub implementation you mean ;) In general, it depends on implementation and library used under the hood but probably for most of them it's not supported by default.

But if you need to add this I believe that in some cases adding that may be possible.

[2020-01-27 21:33] roblaszczak commented on #173
Hello@flamedmg, could you post some example code? Can you also post logs output? Thanks!

[2020-01-28 19:29] roblaszczak opened #175 "[watermill-kafka] Stress test fails in CI"
Because of too big load, Watermill Kafka tests are failing in CI. Locally the problem also occurs, until I will not set `ulimit`.

They are probably multiple solutions:
- find a way to set `ulimit` in CI (I tried to do it in [docker-compose](https://github.com/ThreeDotsLabs/watermill-kafka/commit/6d8973a7865a9b965a61775f23486e74620ffbec) config, but didn't help)
- find, if we can fix something in

[2020-01-28 19:31] roblaszczak commented on #172
Done :) My PR to fix some race conditions was included in this release, so probably if somebody had a problem with race check it should work fine now.

Unfortunately, we still have problems with running stress tests in CI (locally it's fine), but I added a separated issue for that: https://github.com/ThreeDotsLabs/watermill/issues/175.

[2020-01-28 19:31] #172 closed

[2020-01-31 01:08] dalu commented on #126
note that pg has a limit of about 8MB for the payload. So if you insert or update a database larger than ~8MB it errors out. That limit is also hardcoded.

[2020-01-31 01:11] smazurov opened #176 "Retry/Middlewares + CQRS busted?"
Hey gang, I am opening this as a quick sanity check, I am using CQRS facade and ran into an interesting issue:

If a handler returns an error (or panics) it will retry that handler until the message is successfully processed. I tried using Retry middleware, but it does not work. The reason being, this line https://github.com/ThreeDotsLabs/watermill/blob/8840d3f3fae33785dc9a2ecdae196b83bdcaf01e/mes

[2020-01-31 08:59] m110 commented on #176
Hey @smazurov.

The exit from `Retry` middleware, when the handler returns no error is this line: https://github.com/ThreeDotsLabs/watermill/blob/8840d3f3fae33785dc9a2ecdae196b83bdcaf01e/message/router/middleware/retry.go#L71

The line you mentioned will return the error after several retries, when `break` happens out of the loop.

The change you proposed would make the middleware return no error

[2020-01-31 18:57] smazurov commented on #176
That makes sense, for my own education, whats the point of retry middleware? I guess the assumption is that one handler could be faulty while another handler can handle that message? Ideally what I'm looking for is errors that I know won't ever be resolved for that message (say extra validation), so I want to just get rid of it. PoisonQueue should work, so thanks for that!

Alternatively, would yo

[2020-01-31 20:40] m110 commented on #176
Retry middleware is meant for temporary issues, like some network error while saving to database or an error from an external service. In most cases the Pub/Sub itself will re-deliver the message as it won’t be acked, but using middleware gives you a bit more control.

PRs are welcome, of course! 🙂 I’d consider making this a separate middleware, something like `DiscardOnError`. Possibly could also

[2020-02-07 09:49] flamedmg commented on #173
Here is how i create a router:
[code]

[2020-03-08 14:13] roblaszczak commented on #176
Hello @smazurov, is everything clear now?
I'm closing the issue but if it shouldn't please let me know :)

[2020-03-08 14:13] #176 closed

[2020-03-12 03:01] duolabmeng6 opened #179 "[watermill-amqp] panic: cannot open channel: Exception (504) Reason: "channel id space exhausted""
How can I solve it

[2020-03-12 03:01] duolabmeng6 commented on #179
rabbitmq

[2020-03-12 23:14] duolabmeng6 commented on #179
[code]

How to reuse channel

[2020-03-12 23:17] duolabmeng6 commented on #179
[code]

I try  add NewChannel()

Publish2()   Just use a channel

now  incoming Achieve 13000/s

[2020-03-13 01:10] duolabmeng6 opened #180 "[watermill-amqp] What is the mechanism of exception handling?"
If my rabbmit restarts

How to reestablish channel

[watermill] 2020/03/13 08:59:33.510953 subscriber.go:166: 	level=INFO  msg="Starting consuming from AMQP channel" amqp_exchange_name= amqp_queue_name=listen_result_b111ad19-e4c0-4730-805c-3a44b5b7727f topic=listen_result_b111ad19-e4c0-4730-805c-3a44b5b7727f

[2020-03-13 19:29] roblaszczak commented on #179
Hello, Publish is implemented without Channel reusing to ensure that all messages are sent after Publish was executed (so in other words if your service will die you are sure that all messages were sent :) ).

If it is fine for you that you may lose some messages in this case - channel can be reused. I think that you can post PR with adding the configuration option for reusing channels if you have

[2020-03-13 19:32] roblaszczak commented on #180
Do you have more details? Do you mean that this flow of reconnecting is not executing properly: https://github.com/ThreeDotsLabs/watermill-amqp/blob/master/pkg/amqp/subscriber.go#L70 ?

[2020-03-14 09:01] duolabmeng6 commented on #179
Hello, brother, are you free? Can you help me to add the option of multiplexing channel? Thank you very much

This is very helpful for improving performance

Up to 10000+ / S

[2020-03-14 09:08] duolabmeng6 commented on #180
I simulated the rabbmitmq outage

Stopped rabbmitmq

But I don't know how to use your package to capture disconnected yics

I want to catch the exception

Reestablishing channels

[2020-03-14 09:09] duolabmeng6 commented on #180
How should I add

Listen for rabbmitmq disconnect event

[2020-03-14 09:10] duolabmeng6 commented on #180
I checked all the documents

There's still no way to write it down

Sorry to bother you.

[2020-04-04 07:43] pnpdb opened #181 "repeated consumption by multiple subscribers"
If multiple subscribers subscribe to the same topic，how can only one subscriber consume this message？thanks

[2020-04-05 09:04] roblaszczak commented on #181
Hello @pnpdb, it depends on subscriber implementation :)
- For Kafka, it depends on the consumer group
- For Google Cloud Pub/Sub it depends on subscription name (you can pass how to generate it to Pub/Sub constructor config)
- For RabbitMQ it depends if you are using queue or pub/sub
- ... etc ;)

After you will provide a context which implementation are you using, I can probably help more :)

[2020-04-06 06:28] pnpdb commented on #181
thank you very much, i have another question, for rabbitmq, how to use pull mod ? for example, i want to pull 100 messages once.

[2020-04-06 07:47] m110 commented on #181
Hey @pnpdb, you're probably looking for `QosConfig.PrefetchCount`: https://github.com/ThreeDotsLabs/watermill-amqp/blob/master/pkg/amqp/config.go#L449

[2020-04-08 01:49] ferbs opened #182 "[watermill-amqp] construct subscriptions using a single AMQP connection"
At present, `amqp/subscriber.go` establishes a new AMQP connection each time a Subscriber is instantiated. RabbitMQ recommends sharing a single connection. The AMQP connection is heavy, consuming ~ 100 KB of RAM each on the RabbitMQ side and slow to establish. ([Citation.](https://www.cloudamqp.com/blog/2017-12-29-part1-rabbitmq-best-practice.html#connections-and-channels))

Ideally, Watermill's `

[2020-04-20 19:38] ferbs opened #184 "message error infinite loop"
I'm setting up a non-Go system to pass CQRS commands to Watermill over amqp. In my first attempt trying to reproduce the message structure that Watermill expects, I missed the MessageUUIDHeaderKey header (_watermill_message_uuid) which resulted in an infinite Nack loop. Watermill rejects the message before reaching router middleware or the handler, so there's no opportunity to handle the malformed

[2020-04-21 19:37] krzysztofreczek commented on #129
@roblaszczak, I would like to pick this if you don't mind.

[2020-04-21 19:46] roblaszczak commented on #129
Sure :) If you need help we can do a call and I can share what I already know.

[2020-04-23 10:12] krzysztofreczek commented on #129
@roblaszczak, I will slack you soon about that.

[2020-04-27 06:55] umeat opened #185 "How to implement event handler for multiple event types?"
If you have a read model which is informed by multiple different events, would you just write a handler for each and factor out common code?

[2020-05-05 14:09] jiadas commented on #185
Encountered the same problem~

[2020-05-07 09:32] jawr commented on #182
An extension of this would mean we could remove/stop router handlers dynamically. At the moment the Handler shutdown process attempts to close the subscriber, which if shared would be undesired.

[2020-05-08 14:01] B3rs opened #188 "watermill-sql subscriber"
Hi,
I have seen that in watermill-sql the schema adapters use a JSON field on database but json is not referenced in any other part of the code (exception made for examples).
This prevents some other use-cases like avro/protobuf serialization in payload.
Is it possible to change the default type to native binary types like BYTEA for postgres?
This avoids a database check for JSON syntax and gives

[2020-06-04 15:25] chongkai opened #189 "Event Sourcing support"
Hi,

I'm new to watermill and yet fascinated by its design like routers, elegant integration with various pub/subs. While i have read thru doc on cqrs, I don't see a separate doc on event sourcing, so I'm wondering if these are supported already:

Thanks,
Chongkai

[2020-06-14 17:42] roblaszczak commented on #181
@pnpdb I hope that that answered your question?

Also, the `BulkRead` function may be useful: https://github.com/ThreeDotsLabs/watermill/blob/63b5247f69f7bcadd0846bf0872117a1c4e6d733/message/subscriber/read.go#L10

[code]

[2020-06-14 17:42] #181 closed

[2020-06-14 17:49] roblaszczak commented on #184
Hi @ferbs, what do you think will be expected behavior?

For example: if we have the scenario when the message was valid, but there was a bug in `MessageUUIDHeaderKey` we may process newer messages, and in some cases, it may move the system to the invalid state (it applies for the brokers, where messages are ordered :wink:).

From my point of view, it's safer to keep these messages in the queue. M

[2020-06-14 17:52] roblaszczak commented on #185
Hello @umeat and @jiadas. I covered that already in https://github.com/ThreeDotsLabs/watermill/issues/49 :wink:.

I'm closing the issue, but please let me know if it's not clear.

[2020-06-14 17:52] #185 closed

[2020-06-14 17:56] roblaszczak commented on #189
Hi @chongkai. There is already the issue for Event Sourcing: https://github.com/ThreeDotsLabs/watermill/issues/8

We will definitely work on that! But please keep in mind, that Event Sourcing is not needed for CQRS :wink:.

(small-advertisement-mode)
It's actually hard, if it will be a part of Watermill. But I'm sure that it will be included in the articles series about [building business applicat

[2020-06-14 17:56] #189 closed

[2020-06-14 17:58] roblaszczak commented on #188
Hello @B3rs, of course it is possible! :) You just need to provide your own implementation of SchemaAdapter (this is the default one: https://github.com/ThreeDotsLabs/watermill-sql/blob/master/pkg/sql/schema_adapter_postgresql.go).

[2020-06-14 17:58] #188 closed

[2020-06-14 18:30] ferbs commented on #184
It sends a Nack too early for the user to handle the case currently.
Apply the watermill header automatically when not already present? Perhaps with an option to disable/skip.
Otherwise, it could send the Nack later in the process, perhaps in the form of Watermill middleware that a user might modify or configure.

[2020-06-14 18:56] ferbs opened #190 "potential concurrency bug in CQRS"
I noticed that Watermill reuses the same CommandHandler instance when processing messages, so the same handler instance might be concurrently processing multiple messages. Each will have unsafe access to any data fields on the handler.
Consider instantiating a new handler instance for each message processed.

[2020-07-03 19:20] Raqbit commented on #182
The same could apply to publishers as well. For instance I'm working on a "processor" of sorts which acts on messages in one queue and outputs new messages to an output queue via a publisher. Currently watermill would create two connections, one for the subscriber and one for the publisher.

In this case you'd lose all benefits of having watermill take care of connection management for you. I thin

[2020-07-12 03:05] napei opened #191 "Throttle question."
Small question about the throttle middleware. Is it throttling the consumption of the queue as a whole, or is it only throttling the consumtion of each consumer.

If I am needing to throttle the consumption of a queue that has multiple consumers, say limit the consumtion to 1000 messages every hour as it calls an external rate-limited API, is this the best way to do it?

[2020-07-23 13:55] dwaynelavon commented on #173
I am experiencing this issue as well.

[2020-07-23 17:47] vikstrous commented on #7
What are your thoughts on how sagas should work with watermill? It seems to me that it's pretty simple to implement a [choreograpy](https://chrisrichardson.net/post/sagas/2019/08/04/developing-sagas-part-2.html) based saga using the existing features of watermill. To implement an orchestration based saga, wouldn't you just not use watermill at all? Doesn't it make more sense to implement an orches

[2020-08-02 05:26] hendratommy commented on #184
Any reason to enforce the existence of _watermill_message_uuid? I think this makes working with non watermill (such as apache-camel) harder.
Sure we usually need the messageId and agree which header it should be, but it's not enforced. I think watermill should process the message regardless _watermill_message_uuid exists or not, but when watermill produced an message, it would always tag the messa

[2020-08-04 16:31] Agronis opened #192 "MessageUUIDHeaderKey should not be a hard requirement."
Hey team,

The `MessageUUIDHeaderKey` in `watermill-amqp/pkg/amqp/marshaler.go` has a hard constraint on the fact this key exists.

This then requires that any service that is publishing to the service I am attempting to add watermill to, also requires watermill to be the publisher in the upstream service.  This does not feel intended?

I began writing a PR for the code adjustment, but as I contin

[2020-08-07 10:26] flamedmg opened #193 "[watermill-googlecloud] subscription is hanging if topic count is big"
after upgrading to watermill-googlecloud v1.0.5 production system stopped to accept new messages, however it was working just fine. I decided to clean all topics/subscriptions from google pubsub and then app was hanging after subscribing to 10 topic, on 11. I tried to debug and made some things which i do not remember and app still was hanging, but already subscribing more then 10 subscriptions ~3

[2020-08-11 04:15] nitronick600 commented on #193
Just ran into this.  Unfortunately, changing client options didn't help for me.

Same with your findings.  The 11th topic subscription hangs.

[code]

[2020-08-12 03:13] daiaioz opened #194 "How can I pass context from publish message to subscribe, using go channel pubsub."
What I try to solve is making Event handlers are invoked in context of the same transaction boundary. So I can rollback when event handlers fail. But I don't know how to do this. I see in code that message is copy when publish, and context is not propagated.

[2020-08-12 08:19] m110 commented on #194
Hey @daiaioz. What you're trying to do is impossible by design. When using event-driven applications, you have to accept eventual consistency or build distributed transactions.

It's true that Go channel implementation could support this kind of context passing, but any other Pub/Sub won't (how do you serialise a database transaction handle?).

If you just need to publish events in transaction wit

[2020-08-12 08:25] m110 commented on #191
Hey @napei. The throttle works across all handlers in a router, no matter how many consumers you have. So it's a good way to achieve what you need. Just keep in mind that if you add it on router level, all handlers will share the same rate limit.

[2020-08-12 10:10] daiaioz commented on #194
@m110 thank for your answer.

[2020-08-12 10:10] #194 closed

[2020-08-13 07:27] LihuaWu opened #195 "Add kafkaMsg.Key into msg context"
Currently, there are 3 types of data provided in the kafkaMsg context which are partition number, offset and timestamp of the message.
In my case, I will need kafkaMsg's key field to filter out some messages.

Would it be better if some method like `MessageKeyFromCtx` and  `setMessageKeyToCtx` could be provided to use?

Thanks for your time and best regards.

[2020-08-14 13:01] #191 closed

[2020-08-18 18:17] roblaszczak commented on #193
@flamedmg @nitronick600 https://github.com/ThreeDotsLabs/watermill-googlecloud/pull/8 should fix that. Can you verify if it's ok after this update?

Thanks!

[2020-08-18 18:28] roblaszczak commented on #192
After https://github.com/ThreeDotsLabs/watermill-amqp/pull/4 message UUID is not required.

[2020-08-18 18:28] #192 closed

[2020-08-18 18:30] roblaszczak commented on #195
Hello @LihuaWu it sounds like an idea: feel free to add it to the DefaultMarshaler implementation and post PR!

Another way without posting PR is implementing your own Marshaler that will put it to context for example :)

[2020-08-19 07:08] LihuaWu commented on #195
Hi @roblaszczak
I choose to implement my own Unmarshaler since it will be more flexible.
Thanks for your help!

[2020-08-19 10:03] roblaszczak commented on #195
Good to hear that, this is the reason why we are allowing to replace marshaler :)

[2020-08-19 10:03] #195 closed

[2020-08-19 10:06] roblaszczak commented on #184
Fixed in https://github.com/ThreeDotsLabs/watermill-amqp/pull/4 :)

[2020-08-19 10:06] #184 closed

[2020-08-19 14:04] roblaszczak commented on #182
Hello, I will be happy to merge any changes that are working and not affecting current functionality and flexibility :)

Feel free to experiment, with current tests It should be pretty simple. If you need any help, please hit me on Gophers slack so I can help. To make it easier, I shared some tribal knowledge about how I do debugging of the tests here: https://watermill.io/docs/troubleshooting/#de

[2020-08-19 14:18] roblaszczak commented on #190
This is correct and was not documented. In 03114651e7c2f18970de4263f26d7788958c8067 I added godoc for that. I hope that it is more clear after that :)

Instantiating for every message have multiple problems:
1. if someone cares about performance, he will not have the ability to not create object per message
2. it's harder to provide instruction of how to create object than just ready object ;)

Al

[2020-08-19 14:18] #190 closed

[2020-08-19 14:22] roblaszczak commented on #173
Yeah, we had this issue as well. But to be honest I have no idea how to solve that properly. I see 2 options:

1. Publisher should fail if it's publishing to queue that doesn't exist. But it may be tricky to "query" that. It can have performance implications as well.
2. We can pass Subscriber to the middleware and call `SubscribeInitializer.SubscribeInitialize()`. It should create what is needed.

[2020-09-25 02:24] runner-mei opened #197 "can add Subscriber.ServeHTTP(w http.ResponseWriter, r *http.Request) in the watermill-http"
I need integration it with my http server.
So need ServeHTTP()

like this:
[code]

[2020-09-28 11:02] czeslavo opened #198 "[watermill-googlecloud] Subscriber stops listening when error is returned from Google API"
### Problem
When `receive` function returns error, most probably it's an error received from Google Pub/Sub client. Sometimes such errors could occur randomly due to connectivity issues or temporal problems with authentication. When they happen, Watermill subscriber stops listening to the topic.

### Solution

- Probably it could be solved by wrapping the `receive` call below with `Retry` block so

[2020-10-05 14:32] jozuenoon commented on #129
@krzysztofreczek any progress? :)

[2020-10-05 18:31] krzysztofreczek commented on #129
Hi @jozuenoon, I parked this task for a while, unfortunately. I am planning to get back to that shortly. Feel free to slack me if you want me to share with you what I have done so far.

[2020-10-09 01:26] vikstrous2 opened #200 "benchmark Google Cloud Pub/Sub Lite"
It would be interesting to see how the performance of watermill on Google Cloud Pub/Sub vs Google Cloud Pub/Sub Lite. You can read more about the new "Lite" feature here: https://cloud.google.com/pubsub/docs/choosing-pubsub-or-lite#pubsub_lite and here https://cloud.google.com/pubsub/lite/docs
This feature is still in beta, so maybe it's a bit too early to get excited about it, but thought I'd sug

[2020-10-09 08:51] krzysztofreczek commented on #129
Thanks @roblaszczak

[2020-10-18 05:17] sagikazarmark opened #202 "Construct publisher/subscriber from DSN like URLs"
I think it would be nice to have a quick way to construct publishers/subscribers, similarly to https://gocloud.dev/

That would allow configuring Watermill with DSNs like nats:// or amqp://

Dependency is probably a question though. It could work similarly to how SQL driver registration works by simply importing the relevant packages.

[2020-10-26 18:02] kevpie opened #203 "message subscriber BulkRead idle timeout or receive timeout"
I've created a PR to describe what looks like an unintended side affect.
What I'm proposing is to illustrate what I think is wrong. It may not be the correct solution.

https://github.com/kevpie/watermill/pull/1

[2020-10-28 06:44] bkielbasa commented on #112
I still don't get it what's to do here

[2020-10-28 06:45] bkielbasa commented on #133
shouldn't the task be closed? :)

[2020-11-09 06:28] blaggacao commented on #128
https://dgraph.io/badger

https://github.com/mishudark/eventhus/blob/master/eventstore/badger/badger.go

[2020-11-09 06:49] blaggacao commented on #8
https://dgraph.io/badger

https://github.com/mishudark/eventhus/blob/master/eventstore/badger/badger.go

https://github.com/timshannon/badgerhold

[2020-11-10 11:58] jpearll opened #206 "Passing Context in CQRS"
Hi,

I am trying to pass a context from an Event Handler (following CQRS archetype), to another message handler, but it is not working.

From a Command Handler
[code]

To an Event Handler
[code]

What is the way to propagate Context across Command & Event Handlers ?

[2020-11-25 07:31] LihuaWu opened #210 "Consumers happen to get stuck in a rebalance state due to call group.Close() improperly"
**Issue:  Consumers happen to get stuck in a rebalance state due to call group.Close() improperly**

**Module: 	"github.com/ThreeDotsLabs/watermill-kafka/v2/pkg/kafka" v2.2.0**

**go version: 1.14.4**

**What did you do?**
start more than 2 consumers in a consumer group to consume a topic with 64 partitions.

**What did you expect to see?**
each consumer will consume half partitions data properly.

[2020-11-25 07:34] LihuaWu commented on #210
@roblaszczak

[2020-11-27 19:17] goku321 commented on #154
I can try implementing this if that's okay.

[2020-12-07 09:24] xyluet opened #211 "Metrics router handler"
https://github.com/ThreeDotsLabs/watermill/blob/eacc162bdedd7a461e4b1b2c96ef8ab87aa902d6/components/metrics/http.go#L20-L38

1. Whats the point of router if you pass promhttp handler to server?
2. Also server `ListenAndServe()` always returns a non nil error

[2020-12-07 09:24] #211 closed

[2020-12-27 09:41] bernadd opened #213 "Message ack checking if nil"
https://github.com/ThreeDotsLabs/watermill/blob/22286ff4a88877727769f9e4f80970b789962616/message/message.go#L97

Is this a mistake, should this line be if m.ack == nil or am I missing something here? Both Ack and Nack methods are using same compare line currently: if m.noAck == nil?

[2020-12-27 10:43] bernadd commented on #213
I understand it now, ack is idempotent...

[2020-12-27 10:43] #213 closed

[2020-12-30 12:34] roblaszczak commented on #210
Hello @LihuaWu, I prepared PR that should fix that issue: https://github.com/ThreeDotsLabs/watermill-kafka/pull/12

cc @m110

[2020-12-30 12:51] roblaszczak commented on #206
Hello @jpearll, you should not use context but message metadata instead.

Context is not propagated by any Pub/Sub (it could be possible only with Go Channel Pub/Sub, but it's not possible currently, it's connected with this PR and discussion https://github.com/ThreeDotsLabs/watermill/pull/205).

Anyway, it's not possible by design, and message metadata was designed to propagate any data that you

[2020-12-30 12:51] #206 closed

[2020-12-30 12:52] roblaszczak commented on #133
Yeah, done ;-)

[2020-12-30 12:52] #133 closed

[2020-12-30 12:53] roblaszczak commented on #112
@bkielbasa I believe it's about adding example that works with for example Python microservice ;-) It should be pretty easy to do (and it should illustrate that it is possible).

[2020-12-30 12:55] roblaszczak commented on #203
Hello @kevpie, yeah, it's a good point that it should probably work in the way how you implemented that...but it will break backward compatibility :(

If you think that it may be useful for you, you can separate a new function in your PR that will work in that way. We can also create two functions (one working in the old and the new working in a new way) and deprecate the old one.

[2020-12-30 13:01] roblaszczak commented on #197
Hello, you can always extend subscriber by using composition, but I will anyway recommend just call whatever you need from a subscriber in an HTTP handler function to avoid coupling :wink:

[2020-12-30 13:01] #197 closed

[2021-01-01 19:32] beykansen opened #214 "How To Add Error Content To Message Header?"
I am using message router with rabbitmq subscriber. I've created dead letter exchange on rabbit and changed ``NoRequeueOnNack`` to ``true``. So consumer should not requeue message after nacking so it should go to dead letter exchange.

I wonder, How can I add error content to nacked message header?

I mean if ``Save`` method at bottom, returns errors more than ``MaxRetries``, message will be nacke

[2021-01-02 09:03] roblaszczak commented on #180
Hello @sdeancos @duolabmeng6 I checked locally and with tests (https://github.com/ThreeDotsLabs/watermill-amqp/blob/master/pkg/amqp/pubsub_reconnect_test.go) and it seems that reconnect is working for me properly. Can you provide a bit more details to reproduce it? Thanks!

This is the code that I'm using

[code]

and docker-compose:

[code]

I'm running the Go code and I'm restarting docker to fo

[2021-01-02 09:07] roblaszczak commented on #7
@czeslavo prepared a pretty nice example of Process Manager implementation with Watermill here: https://github.com/czeslavo/process-manager. It's not Saga, but it's pretty similar and with some additions, you may implement saga in a pretty simple way.

Anyway, it would be good to have some tooling in Watermill to support it more out-of-the-box - and this is the long term plan ;-)

[2021-01-03 10:41] #214 closed

[2021-01-06 08:13] LihuaWu commented on #210
got it, thanks @roblaszczak

[2021-01-21 20:26] roblaszczak commented on #210
The change was merged and released :)

[2021-01-21 20:26] #210 closed

[2021-01-25 09:30] cikupin opened #215 "Update watermill-kafka to use sarama v1.26.4"
Dear watermill team,

I think that [watermill-kafka](https://github.com/ThreeDotsLabs/watermill-kafka) should be upgraded to use sarama version 1.26.4.

As stated in sarama v1.26.0 release note, we should not use this version anymore. Version 1.26.4 should be used instead. https://github.com/Shopify/sarama/releases/tag/v1.26.0 . Or maybe you can use version the current latest version (v1.27.2)

[2021-01-27 17:07] cotton-more opened #216 "CorrelationID does not work with CQRS Facade"
CommandProcessor.AddHandlersToRouter uses internally AddNoPublisherHandler to add a handler to a router CorrelationID middleware does not work. Since it assumes that the handler should return a list of new messages but AddNoPublisherHandler wraps the call into a function and always returns nil instead of messages.

When I try to wire everything manually, adds handlers to a router then the middlewa

[2021-02-18 06:31] breml opened #217 "Bring sql driver on par with benchmark implementation"
In the benchmark, there have been made some changes related to the sql driver, that have never been fed back to the actual sql driver (watermill-sql).

For PostgreSQL driver:

* Use of `PRIMARY KEY` on field `offset` (https://github.com/ThreeDotsLabs/watermill-benchmark/blob/master/pkg/pubsub.go#L355 versus https://github.com/ThreeDotsLabs/watermill-sql/blob/master/pkg/sql/schema_adapter_postgresq

[2021-02-18 06:57] breml commented on #126
I looked into this topic myself for a similar idea (SQL backed event bus) and compared my ideas with the current implementation of watermill-sql. In my understanding, the benefits in the current implementation with LISTEN/NOTIFY wouldn't be this big, due to the guarantees currently given by the sql driver (guaranteed order of events, strictly once delivery). In my understanding the only thing that

[2021-02-18 07:16] breml opened #218 "Allow batch reading in watermill-sql"
The current implementation of watermill-sql does read exactly one message at the time (PostgreSQL implementation: https://github.com/ThreeDotsLabs/watermill-sql/blob/master/pkg/sql/schema_adapter_postgresql.go#L66).

I assume a significant subscriber performance improvement, if the subscriber could read the messages in batches (of configurable size), e.g. 10 or 100 items per SELECT.

My question i

[2021-02-18 07:53] breml opened #219 "nsq.io pub/sub"
I used nsq.io for pub/sub in the past and it worked very well and was very easy to deploy.

To check:

- [ ] https://nsq.io/
- [ ] https://github.com/nsqio/nsq
- [ ] https://github.com/nsqio/go-nsq

[2021-03-02 02:08] screwyprof commented on #218
Following @breml , I've got a similar question about mysql implementation. https://github.com/ThreeDotsLabs/watermill-sql/blob/a2768559a9c416c1d8b5fe506401dc51639abb63/pkg/sql/subscriber.go#L249 Is it possible to optimise the reads?

[2021-03-02 02:20] screwyprof opened #222 "Atomicity in CQRS Facade"
I've got a question. At the moment from the examples I can see, the events are published after some processing is done in a command handler. It may lead to a 2PC problem Is it possible to make handling commands and publishing events atomic via CQRS Facade?

PS: It know it can be done w/o the facade.

[2021-03-02 02:26] screwyprof commented on #155
@yordis, @roblaszczak

I played around with CQRS/ES in go some time ago. Here's an example of a very naive implementation: https://github.com/screwyprof/cqrs/blob/master/examples/bank/bank_test.go

I'm planning to try to use sql-pubsub to run this example. The reason I'm mentioning it is that you may find useful the way I implemented the Aggregate https://github.com/screwyprof/cqrs/tree/master/pkg

[2021-03-03 16:20] breml opened #223 "[watermill-sql] Backoff Manager does not handle concurrent update for PostgreSQL"
In the watermill-sql backoff manager there is code to detect `deadlock` errors (https://github.com/ThreeDotsLabs/watermill-sql/blob/master/pkg/sql/backoff_manager.go#L37). This code does not handle `concurrent update` errors for PostgreSQL.

I get the following error:

[code]

The problem can be solved by extending the condition as follows (https://github.com/ThreeDotsLabs/watermill-sql/blob/maste

[2021-03-04 08:25] m110 commented on #223
Hey @breml! I think both approaches sound good / better than the current solution. I'm happy to review a PR.

[2021-03-04 08:52] breml opened #224 "[watermill-sql] Handling of nack"
In watermill-sql, a bad behaving consumer, which always nacks an incoming message will completely block processing of messages in the respective consumer group, because the nack does not return the message to the sql server by rolling back the transaction. Therefore the message is never processed and all other consumers (in this consumer group) are blocked as well.

Therfore nack in the case of wa

[2021-03-04 14:36] breml commented on #218
Today I did some initial tests with batch reading and it is not that easy (and I am no longer sure, it will bring a performance gain).

The problem is:
There are known problems with Go, database/sql and the postgres driver when trying to execute additional database queries while still reading a result set (sql.Rows). This confuses the postgres driver and it returns errors instead of executing the

[2021-03-10 08:49] breml opened #226 "Issue with topic and consumer group names in test suite"
For an implementation of #126 (PostgreSQL driver with `SKIP LOCKED`), I create a SQL table for each consumer group containing the offsets ready to be consumed. The name for these tables is build by concatenating some prefix, the name of the topic and the name of the consumer group. In some of the test cases in the test suite, UUID are used for both, the topic and the consumer group. Each UUID has

[2021-04-04 07:57] roblaszczak commented on #224
Hello @breml, I changed the title slightly if you don't mind. :wink: Thanks for the bug report!

[2021-04-04 08:07] roblaszczak commented on #218
I think that in theory, it should help to achieve some performance gains. The downside is that we need to accept that we will lose exactly-once delivery. But I'd not expect Kafka-like performance - this was not a goal of this Pub/Sub :wink:

What I can recommend, is to try to do some TDD and experimentation of reading more rows at once and committing in a separate transaction. With doing small cha

[2021-04-04 08:18] roblaszczak commented on #226
Hello, I think that the solution may be using https://github.com/oklog/ulid instead of UUID. I think that it would be perfect to be able to configure it and keep the default behavior for all other tests. IMO it could be configured via test features: https://github.com/ThreeDotsLabs/watermill/blob/master/pubsub/tests/test_pubsub.go#L99

[2021-05-14 09:30] prochac opened #230 "watermill-amqp logs nil error on subscriber close"
solved here one month ago
https://github.com/ThreeDotsLabs/watermill-amqp/pull/5

[2021-05-14 09:33] m110 commented on #230
Thanks @prochac! And sorry about the delay.

[2021-05-14 09:47] #230 closed

[2021-05-28 07:39] zdraganov opened #231 "RabbitMQ reports that client unexpectedly closed TCP connection even with SignalsHandler plugin included"
I was wondering if this RabbitMQ report is expected when we have graceful shutdown enabled.

[code]

[2021-06-04 10:45] roblaszczak commented on #198
Solved in https://github.com/ThreeDotsLabs/watermill-googlecloud/pull/13. Thanks @czeslavo again!

[2021-06-04 10:45] #198 closed

[2021-06-11 12:10] vthiery opened #232 "AMQP subscriber channel close fails"
I noticed that when closing the AMQP subscriber, the following error is logged:

With the error `Exception (504) Reason: "channel/connection is not open"`

I had a look at the code

[code]
and believe that this is due to the fact that when `channel.Close()` is called, the connection has already been closed.

The problem can easily be reproduced with the test suite by replacing the log with `panic(

[2021-06-23 14:25] medinae opened #233 "GCP PubSub | Subscription linked to a topic from another project"
Trying to execute a Subscriber linked to a subscription - which is linked to a topic from a different project -  lead to an error =>

[code]

The error is returned here https://github.com/ThreeDotsLabs/watermill-googlecloud/blob/master/pkg/googlecloud/subscriber.go#L430

Do you guys know why this condition/check exists ?

[2021-07-14 02:32] chennqqi commented on #219
I wrote one https://github.com/chennqqi/watermill-nsq. Hope any bug report or feedback

[2021-07-16 22:06] roblaszczak commented on #233
Fixed with https://github.com/ThreeDotsLabs/watermill-googlecloud/pull/15

[2021-07-16 22:06] #233 closed

[2021-07-31 17:39] checkmunza opened #235 "Router does not wait for running handlers to complete."
I can't find anywhere that the `Router` will call `Wait` method on `runningHandlersWg`.
[code]

Should it need to do that so we can close the router gracefully?

[code]

[2021-08-04 19:17] farzadmf opened #237 "[watermill-amqp] router multiple handlers on the same topic"
Hi, I'm using a router and I'm wondering if there's a way to add more than one handler listening on the same RabbitMQ "topic".

I have something like this:
[code]

But the issue I have is that it's either/or with the handlers; if a message is picked up by `handler1`, it won't be picked up be `handler2` and vice versa

[2021-08-04 19:52] m110 commented on #237
Hey! It seems you use a config that makes the handlers behave like they're in the same consumer group. See the docs: https://watermill.io/pubsubs/amqp/#amqp-consumer-groups

[2021-08-04 19:59] farzadmf commented on #237
Thank you @m110 , actually I _was_ looking at that, but it seems that it's using the "lower level" system (as mentioned in the docs):

So, I was having problems with adopting that example to work with the higher abstraction level of a router

[2021-08-06 19:04] farzadmf commented on #173
@flamedmg can I ask you how you implemented your own topology builder?

I'm trying to implement it, but it seems like the `BuildTopology` is not being called; something like this (this is just me testing to see if the functions are called)
[code]

and Then I'm setting this in my config:
[code]

I see `ExchangeDeclare` being called, but the `BuildTopology` is not being called (as you see I'm even `

[2021-08-13 21:18] kashifsoofi opened #238 "CQRS with gochannel pubsub?"
Hey,
First of all thank you very much for this project.

Now I am trying to replicate cqrs example https://github.com/ThreeDotsLabs/watermill/blob/master/_examples/basic/5-cqrs-protobuf/main.go but with gochannel pubsub instead of amqp (rabbit mq).
I am hitting a wall trying to figure out what to do, any help would be much appreciated main.go is available here (https://github.com/message-board/ide

[2021-08-17 20:47] m110 commented on #238
Hey. Replacing the publisher and subscriber with GoChannel should be enough, as you did. Does it work for you, or are there any issues with it?

[2021-08-18 09:00] kashifsoofi commented on #238
Hey,

Thanks for looking into this.

I tried to do as you suggested replace subscriber with GoChannel but I am getting compiler errors at Line 78 setting CommandsSubscriberConstructor and Line 92 setting EventsSubscriberConstructor (being a Go newbie doesn't help either :()

[2021-08-19 21:58] sagikazarmark opened #239 "Official RabbitMQ library"
FYI this is a thing now https://github.com/rabbitmq/amqp091-go

[2021-08-25 06:35] ManassehZhou opened #240 "GoChannel pub/sub never stop resending NACK messages"
[Code Here](https://github.com/ThreeDotsLabs/watermill/blob/master/pubsub/gochannel/pubsub.go#L357:L367)

[code]

The context inside the message is never used, instead, a new context is created when trying to send messages to subscribers.

This may cause problems when an error is allowed when processing the message, though the context has a timeout, but the GoChannel Pub/Sub will always try to res

[2021-08-25 06:41] #240 closed

[2021-08-30 05:21] mirusky commented on #238
Hey try to replace the main function with that:

[code]

[2021-08-30 05:34] mirusky commented on #219
Hey @chennqqi could u create a PR ?

[2021-08-30 05:47] mirusky commented on #155
Hey @yordis @screwyprof @roblaszczak let's talk more about it.

I'm using the watermill in some personal projects and It's so powerful and simple. But as @yordis mentioned there is some things that could have some abstraction and/or has some documentation. For me Aggregates is the difficult thing to newbies in ES to understand and use, so if some support is provided it will be nice.

[2021-08-30 14:39] screwyprof commented on #155
Hey @mirusky . If we were to discuss the CQRS/EventSourcing/DDD and Aggregates  in particular it would be a very long discussion. A lot of books have writen on the subject. I'd recomment to start with the following:
- https://www.amazon.co.uk/Domain-Driven-Design-Tackling-Complexity-Software/dp/0321125215/ref=asc_df_0321125215/?tag=googshopuk-21&linkCode=df0&hvadid=310831942794&hvpos=&hvnetw=g&hvr

[2021-08-30 16:40] kashifsoofi commented on #238
Very nice, thank you very much @mirusky I will try that

[2021-09-01 23:08] mirusky commented on #155
Actually I'm more interested in some kind of implementation, I know that an Aggregate should put "component" logic together and be responsable for track the state of the aggregate.

For example

- [InventoryItem](https://github.com/gregoryyoung/m-r/blob/master/SimpleCQRS/Domain.cs#L6-L61) from [m-r](https://github.com/gregoryyoung/m-r/tree/master/SimpleCQRS).

- [Order](https://github.com/fChriste

[2021-09-24 11:21] smoya commented on #195
@roblaszczak Would you accept a PR adding the changes requested in this issue? I think this use case is very valid and having to rewrite the marshaler because of this is not ideal.

[2021-09-25 09:40] cunyat commented on #128
Hi! Can I work on this?

I've done some work arround, and seems really interesting :D
Where i should publish the code, in a repository of mine?

[2021-09-25 10:27] m110 commented on #128
Hey @cunyat! You can start with your own repository. If you'd like, we can then move it to our space and help you make the library production ready. :)

[2021-09-27 08:20] go-slark opened #241 "Can only use cqrs without es that is in the application for project without DDD?"
Can only use cqrs without es that is in the application for project without DDD?
Any examples?
thx

[2021-09-27 10:33] m110 commented on #241
Hey, sure you can. A simple CQRS example is here: https://github.com/ThreeDotsLabs/watermill/tree/master/_examples/basic/5-cqrs-protobuf

[2021-09-30 13:19] prochac opened #242 "Deadlock on Delivery Acknowledgement Timeout"
Hi,
we run into issue that Watermill AMQP subscriber stucks.
We use managed service by AWS. It was upgraded recently and introduced this timeout.
https://forums.aws.amazon.com/thread.jspa?messageID=994285
https://www.rabbitmq.com/consumers.html#acknowledgement-timeout

All what I know for now, is that when the ack times out then watermill blocks on channel's lock.
Here: github.com/streadway/amqp/c

[2021-10-04 20:07] roblaszczak commented on #195
Hey @smoya, I'd be happy to accept such PR :)

[2021-10-05 18:37] cunyat commented on #128
Hey there!
I've almost an "aplha" version passing all tests :D https://github.com/cunyat/watermill-mongodb
I would appretiate any feedback :)

Also, it should respect "only one delivery", i think it would be easy to adapt...
Thanks!

[2021-10-06 08:49] ratchapol-an-kkp opened #243 "CQRS with SQL Publisher for Transactional Event"
From this [example](https://github.com/ThreeDotsLabs/watermill/tree/master/_examples/real-world-examples/transactional-events)
I would like to use a CQRS component with SQL Publisher to publish a transactional event via Eventbus.
But it seems CQRSFacde doesn't support this because it requires a publisher instance not a publisher factory.

[2021-10-09 03:02] xtay315 opened #244 "how to use cqrs in realworld?"
where can i get   replay for my client?

[2021-10-09 12:12] checkmunza commented on #211
Why did you close this issue?

[2021-11-01 13:34] adirg opened #247 "[gochannel] subscribers can block each other"
Hi,

I'm using `gochannel` (watermill v1.1.0) for passing messages between publishers and subscribers. It seems like that misbehaving subscriber can block other subscribers. For example, let's take a look at the following simple test -
[code]

Running the above test results in the following failure -
[code]

If I remove the first call to `Subscribe()` the test passes (the subscriber receives the m

[2021-11-02 19:05] bstasyszyn commented on #182
I have a pull request open that (hopefully) resolves this issue: https://github.com/ThreeDotsLabs/watermill-amqp/pull/9. Please review. Thx! @roblaszczak @ferbs @jawr @Raqbit

[2021-11-02 22:04] ferbs commented on #182
@bstasyszyn I've switched off the project using watermill-amqp so will go silent (leaving this issue open.)

[2021-11-04 16:13] bstasyszyn commented on #182
PR was merged: https://github.com/ThreeDotsLabs/watermill-amqp/pull/9. This issue can be closed.

[2021-11-05 21:49] egorsmkv opened #248 "Any plans to add support of JetStream instead of NATS Streaming?"
Hello to all contributors!

I am using watermill in my VoIP tech stack to make thousands calls per day and it works perfectly.
Thanks to all who made this awesome project!

The NATS documentation says the following:
![image](https://user-images.githubusercontent.com/7875085/140582463-5f75886a-3613-4399-9530-5df422a493c0.png)

So my question is simple - Any plans to add support of JetStream instead

[2021-11-11 15:07] rizalgowandy opened #250 "Add context.Context for message.HandlerFunc"
Basically context is a great tools for a lot of things, making it as first parameter make sense.
This way we can inject something on the message.Middleware e.g creating a distributed tracing span inside.

From
[code]

To
[code]

[2021-11-15 08:20] checkmunza commented on #250
I think we can inject it by using this method `Message.SetContext` .

[2021-11-15 09:44] m110 commented on #250
Yes, you can use `msg.Context()` and `msg.SetContext()` for passing the `ctx`. Does that do what you need?

[2021-11-15 10:16] rizalgowandy commented on #250
Ah I see, that's exactly what I need.

[2021-11-15 10:16] #250 closed

[2021-11-19 13:38] boreq commented on #244
In the CQRS model the commands drive certain actions within your application and the responses produced as a result of those actions are sent back to the callers using events. Therefore if a producer of commands wants to react to their results then that producer should subscribe to the events produced as a result of executing those commands.

That is the best answer I can give you to such a genera

[2021-11-19 13:47] boreq commented on #247
I think it would be reasonable to implement a fix here which would ensure that a blocking subscriber doesn't stop delivery of messages to remaining subscribers. Such a fix would be very simple to implement and I could take care of this.

@roblaszczak ?

[2021-11-19 14:05] roblaszczak commented on #247
Sounds good @boreq :+1:

[2021-11-22 11:15] xorcare opened #253 "A comment for the `Message.UUID` lies"
This comment says that the message ID is optional,
but for SQL transport it is a mandatory attribute,
in turn it causes misunderstanding?

Is it possible to fix it or did I get something wrong?

https://github.com/ThreeDotsLabs/watermill/blob/b9928e750ba673cf93d442db88efc04706f67388/message/message.go#L20
https://github.com/ThreeDotsLabs/watermill/blob/b9928e750ba673cf93d442db88efc04706f67388/mess

[2021-11-22 19:38] roblaszczak commented on #253
Hey @xorcare, good point! When this comment was written SQL Pub/Sub was not implemented yet. It would be more accurate to put info that usually it's not required, but some Pub/Sub implementation may require this field.

If you have some time feel free to post PR and update doc :)

[2021-12-09 13:07] umi0410 commented on #154
Is there any progress for Amazon SQS and SNS?

[2021-12-21 23:22] prochac commented on #239
Did someone try with `replace` directive in their `go.mod`?
The official one expects API changes though.
https://github.com/rabbitmq/amqp091-go#project-maturity

[2021-12-27 03:17] AlexCuse commented on #239
The current latest version doesn't seem to have any breaking changes, seems like it makes sense to use that to me.

[2021-12-27 13:16] AlexCuse commented on #248
Been working off and on with @Sacro on this since the summer.  It's pretty slow going but I have some time right now and hoping to get my current WIP in shape to push sometime in the next couple weeks.

[2021-12-27 13:26] AlexCuse commented on #248
In general my impression is the streaming package should be moved to its own repo and deprecated since it uses the stan client.

Nats and jet stream should live in watermill-nats since they both will now use the nats client.

[2021-12-27 15:27] dragon-zhang opened #258 "Does this library support back pressure ?"
Does this library support back pressure ?

[2021-12-31 05:06] AlexCuse commented on #248
@egorsmkv have not tested this with a real workload and have a couple things I want to figure out how to clean up but its passing for the following test configuration:

[code]

Give it a try if you get a chance https://github.com/AlexCuse/watermill-jetstream

[2021-12-31 05:19] AlexCuse commented on #248
PS I also didn't look at configuration much at all yet but there is a "bring your own connection" factory method that should work OK for whatever you need.

[2021-12-31 10:05] egorsmkv commented on #248
Many thanks to you!

I'll test it and give you my feedback.

[2021-12-31 11:22] AlexCuse commented on #242
Not sure the best way to handle the channel exceptions in watermill context (may be able to use a separate channel to pump errors through) but there is an `AckWaitTimeout` used in the final select within `processMessage` in the nats client that I think could be helpful here.

[2022-01-07 18:52] gf3 opened #259 "Expose Router.isClosed"
i'm attempting to write a health check for a service that uses watermill and i'd like to be able to easily determine if the router is still up and running

Router exposes a channel at `.Running()`, and it's possible to infer if the router is closed with a little indirection:

[code]

however it would be much simpler if we could simply call `router.IsClosed()`. perhaps there is another solution i'v

[2022-01-10 02:32] AlexCuse commented on #248
@egorsmkv I have not been able to get the stress tests to pass but this may be limitations in my ability to set up NATS in docker as much as anything else.  I am primarily using on edge devices that each end up receiving a relatively low message volume and it seems to work great for that.

Planning to make another pass over the configuration this week and try to tighten that up before I push a 0.0

[2022-01-10 12:01] egorsmkv commented on #248
I haven't able to test it yet. Hope to find free time to test it in near time.

[2022-01-11 00:29] AlexCuse commented on #248
No rush - I am looking to integrate the KV store with the SDK im working with right now.  Will try and hold off till you have a look before cutting a tag.

[2022-01-11 16:23] #239 closed

[2022-01-17 01:04] imabaymax opened #262 "[watermill-amqp] AutoDelete = true"
watermill-amqp v2.0.3
If connect broken, the queue was deleted and watermill-amqp will reconnect to AMQP, but queue did't create....

[2022-01-18 21:13] roblaszczak commented on #259
Hey @gf3, yes, it should be possible to easily add such a function.

It needs unit test to verify, but I think that writing the `IsRunning` function should like:

[code]

But it's not really `IsClosed()`, because it can be not yet running. But for the health check you are probably interested with `IsRunning` :)

[2022-01-18 21:14] roblaszczak commented on #259
If you or anybody else have 10 mins please feel free to add that function :)

[2022-01-26 12:18] AlexCuse opened #265 "[watermill-amqp] Use AMQP CorrelationId if watermill message ID header not set"
I have this implemented in a custom marshaler now but wondering if it makes sense to push back upstream - when we are integrating with legacy services we find it useful to use the correlation ID as the message ID when first brought into watermill - from there they get sent on headers to subsequent services and work normally.

Its a simple change if it would make sense for other users.

[2022-01-26 16:44] roblaszczak commented on #258
Hey, it's not supported out-of-the-box, but it could be easily added by implementing custom [middleware](https://watermill.io/docs/middlewares/).

[2022-01-26 20:09] #247 closed

[2022-01-27 01:42] dragon-zhang commented on #258
ok, thanks

[2022-01-30 10:50] minghsu0107 commented on #110
Hi, I have improved some codes in the watermill-redisstream, such as adding fan-out mode and idle consumer removal.

Check this out if you are interested: https://github.com/minghsu0107/watermill-redistream

[2022-02-01 17:58] roblaszczak commented on #265
Hey, I think that it may be useful option :+1:

[2022-02-07 11:59] caojs opened #267 "[watermill-amqp] Support Publisher Confirms"
Can you please support [Publisher Confirms](https://www.rabbitmq.com/confirms.html#publisher-confirms) for amqp?

[2022-02-07 14:07] zdraganov opened #268 "[watermill-nats] Watermill command bus cannot recover from "stan: connection closed" on Stan restart"
Used in K8s environment have to reschedule the Stan pod, which changed the underlying IP address which it used.
After that the command bus was constantly throwing "stan: connection closed" error even if the pod has successfully rescheduled.

Is there any recovery flow if that happens?

[2022-02-08 13:20] AlexCuse commented on #248
Hey @roblaszczak - I also realized an ordering issue with a select that could read to 'send on closed channel' panics at the same time so hard to say it was the only thing wrong but I increased the file limit yesterday and seeing stress tests pass consistently now.  Reconnect tests are the next hurdle for testing - maybe the last one - but they should be running as part of the stress test now and

[2022-03-03 09:36] guihouchang opened #271 "Retry Middleware blocked message"
When I use a single consumer, subsequent messages cannot be consumed normally after Retry is triggered.
[code]

[2022-03-05 08:50] checkmunza commented on #271
Do you mean after entering `retryLoop` section?

[2022-03-07 10:04] guihouchang commented on #271
yes, when I set InitialInterval 30min, it causes message blocking

[2022-03-17 20:17] #265 closed

[2022-03-21 11:43] AlexCuse opened #273 "Protobuf binding for message.Message?"
I find myself thinking about adding a protobuf marshaler to watermill-jetstream and wondering if it would make sense to include the contract definitions and generated files in watermill itself.

[2022-03-22 20:57] roblaszczak commented on #273
Hey @AlexCuse, can you elaborate a bit more on how do you understand "protobuf marshaler" in that context?

[2022-03-22 21:56] AlexCuse commented on #273
Id like to try using protobuf for the actual transport encoding of watermill messages to see if it's "worth it" from a performance perspective.  Likely have a better idea later this week if it's worth pursuing further but was thinking making the contract part of the `message` package could make sense.

[2022-03-23 01:05] AlexCuse commented on #273
https://github.com/AlexCuse/watermill-jetstream/commit/a09d68c4ed25727064047a715815f48e5e213aef

The stuff in the `wmpb` package there is what I was thinking of.

[2022-03-23 09:43] upils opened #275 "GoChannel subsciber blocked without Acking messages"
In the current implementation, the goroutine executing `sendMessageToSubscriber()` is blocked until either the message is acked/nacked or the subsciber is closing.

I will submit a PR soon.

[2022-03-24 13:01] AlexCuse commented on #248
As of `v0.0.5` can find the module at https://github.com/ThreeDotsLabs/watermill-jetstream/

I think this issue can be closed

[2022-03-24 17:14] suhoangson opened #277 "How i can add middleware handler after ACK"
I want to make a middleware handler , it will be trigger automatic after ACK send  for  store all processed the message  to database as log automatic. how i can do that

[2022-03-29 19:01] #248 closed

[2022-03-31 13:21] checkmunza commented on #277
I think you can use this `Message.Acked` method.

[2022-04-08 17:42] anandsunderraman commented on #235
Yeah I guess I am also facing a similar issue.
When I shutdown my program I get this error message that says
[code]

[2022-04-09 08:35] roblaszczak opened #279 "Apache Pulsar Pub/Sub implementation"

[2022-04-12 20:34] tymonx opened #280 "[watermill-http] It doesn't support multi subscribe for the same single topic"
The go-chi HTTP router overrides added handlers for the same route. Because of that when calling `httpSubscriber.Subscribe(ctx, url)` with the same `url` N times it will invoke added HTTP handler only once. Simple use case for the CQRS component with queue per package name not per `packageName.CommandName/EventName`. Received message from HTTP client will be delivered randomly only to one of regis

[2022-04-21 11:02] shi-rudo opened #282 "proto marshalling is failing with using latest protoc-gen-go and protoc"
I wanted to try out the example of "5-cqrs-protobuf". On recreating the events.pb.go the example watermill fails with:

[code]

repo for reproducing can be found under: https://github.com/shi-rudo/5-cqrs-protobuf-latest

// versions:
// 	protoc-gen-go v1.28.0
// 	protoc        v3.19.4

[code]

https://github.com/shi-rudo/5-cqrs-protobuf-latest/blob/master/events/events.pb.go
[code]

[2022-04-22 07:51] shi-rudo commented on #282
after some research it seems to related to `github.com/gogo/protobuf`. a [known issue](https://github.com/gogo/protobuf/issues/678) in this library that isn't expected to be solved anytime soon.

It is advised to use another proto library such as `google.golang.org/protobuf/proto` instead. Any chances that watermill will adopt `google.golang.org/protobuf/proto`?

[2022-04-22 18:23] m110 commented on #282
Hey. You can use your own CQRS marshaled if you implement the correct interface. You could just copy the one provided with Watermill and switch the library to golang/protobuf.

In the future, we want to address this in #281. :)

[2022-04-27 09:07] rwngallego-lm commented on #110
@roblaszczak are you planing to incorporate @minghsu0107 implementation? Would be more than happy to see it "officially" supported

[2022-04-27 15:57] suhoangson opened #283 "[watermill-kafka] why message doesn't resend when consumer group don't send ACK"
when consumer group got message from kafka topic and process, some error happen then consumer don't call msg.Ack() , why this message don't resend again, just resend when i restart consumer

[2022-05-19 12:29] butchmarshall opened #284 "Cannot find shortuuid/v3 when running `go get -u github.com/ThreeDotsLabs/watermill`"
Failure to launch

[code]

[2022-05-19 12:51] butchmarshall commented on #284
clone the full repo, run the examples isntead

[2022-05-19 12:51] #284 closed

[2022-05-20 04:16] xuyang2 opened #285 "[watermill-kafka] `Subscriber.Close()` seems not concurrent safe"
`kafka.Subscriber.Close()` seems not concurrent safe.
`close(s.closing)` may be executed multiple times when called concurrently,
causing `panic: close of closed channel `.

https://github.com/ThreeDotsLabs/watermill-kafka/blob/9242094c8fd755f501295c65515f2d47bb122962/pkg/kafka/subscriber.go#L468
[code]

see alsao:
- https://github.com/ThreeDotsLabs/watermill-amqp/blob/f8efc8147ada84ac953420f042f8

[2022-05-30 12:39] AlexCuse commented on #279
I think I can do this in next month or so.

[2022-06-05 07:14] AlexCuse commented on #279
I've been messing around with this and it seems like it may have the same issue for testing as I mentioned with nats core in https://github.com/ThreeDotsLabs/watermill-nats/pull/8

Does seem like the implementation would be pretty simple though.  Maybe its worth adding a second mode for the watermill test that establishes subscriptions first, could be a lot of work though.

[2022-06-05 07:14] AlexCuse commented on #279
https://github.com/AlexCuse/watermill-pulsar

[2022-06-07 13:47] dubyte opened #286 "Checking for argument == nil wont work for interfaces"
When passing a nil DB the code that checks the db == nill is false because the beginner is an interface so the nil DB satisfies the interface but is nil.  See this link for reference. https://glucn.medium.com/golang-an-interface-holding-a-nil-value-is-not-nil-bb151f472cc7

[code]

So in other words there is an assumption that we are caching the case of receiving a nil value and returning an error

[2022-06-14 02:01] OneCricketeer commented on #283
The consumer will continue to seek forward and poll within the runtime of the same application.

You can open an issue with the Sarama client repo if you think this is a problem with the client implementation.

[2022-06-20 02:29] dangerousplay opened #288 "Allow router plugins access for router handlers"
Hi, we are creating a middleware and also a router plugin that allows reprocessing of messages that failed and went through a poison/dead letter topic.

In order to be able to reprocess the messages without needing to republish them in the same topic,
that other applications can be listening, the router plugin should be able to access the handlers.

We can create a router plugin that could expose

[2022-06-20 10:21] #288 closed

[2022-06-27 17:00] odannyc opened #291 "Multiple topics, same handler"
I have multiple topics and 1 generic handler that sends those messages to an external system.

For example:

Topics: `user_topic`, `post_topic`, `comment_topic`
Handler: `send_to_segment_handler`

The router currently has a check for this and returns an error. Am I designing this correctly, or is there a better way to do what I'm trying to accomplish?

[2022-07-11 14:32] faraonc opened #292 "Any plans for supporting GKE Workload Identity for Google Pub/Sub"
## Overview

I was hoping I can leverage [GKE Workload Identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) instead of generating the service account keys via a JSON file.

I gave it a shot today, but it seems like `GOOGLE_APPLICATION_CREDENTIALS` is the only way to get it to work. I was hoping I can get away with something like assigning a `serviceAccountName` for m

[2022-07-17 18:45] sagikazarmark opened #293 "Create an awesome watermill repository"
Would be nice to have a curated list of third-party libraries written for Watermill.

For example I was looking for a Zap adapter for the logger and found this after some searching: https://github.com/garsue/watermillzap

But my first instinct was to look around in this repo and the org, so I would have found it sooner there.

[2022-08-18 19:59] IgorDePaula opened #294 "http router webhooks haven't protection"
http router webhooks haven't protection and not returns error to http client.

[2022-08-24 08:47] woostundy opened #296 "GoChannel pub/sub shouldn't force retry at sendMessageToSubscriber"
Due to the underlying processing logic, GoChannel pub/sub will never stop resending NACK messages, at a crazy speed.
It shouldn't do retry work here. It's better to handle on the upper level such as retry middleware.

https://github.com/ThreeDotsLabs/watermill/blob/67407a6e41587e97925f207abfe9b07f21f5f356/pubsub/gochannel/pubsub.go#L351-L379

[2022-08-24 08:51] woostundy commented on #296
#240

[2022-08-25 16:35] thpk commented on #286
In those examples the function definition calls for an empty interface. That is not the case in the NewSubscriber function.

[2022-08-25 18:32] dubyte commented on #286
could you please give an example where NewSubscriber returns error:

[2022-08-30 15:16] theShadow89 opened #297 "AWS Kinesis Pub/Sub implementation"
Implementing Pubblisher and Subscriber for A[WS Kinesis](https://aws.amazon.com/kinesis/). It is like Kafka but managed.

We can use [Go SDK](https://docs.aws.amazon.com/sdk-for-go/api/service/kinesis/).

[2022-09-07 09:26] zc2638 opened #298 "channel: when the production is much larger than the consumption, it will cause the goroutine to grow infinitely?"
When the production is much larger than the consumption, it will cause the goroutine to grow infinitely?
[code]

[2022-09-08 22:09] thpk commented on #286
The trivial example would throw that error:
[code]

any initialized value of _db_ wouldn't throw this error of course. This error check prevents panics in setup.

[2022-09-09 20:23] khanakia opened #299 "Does watermill supports request reply pattern using NATS ?"
I could not find any docs for the request reply pattern using watermill

[2022-09-12 18:48] dubyte commented on #286
First at all thanks for your time. Is really appreciated

The thing is nil can not be passed because it won't compile, and in the moment you are sending a nil value of type  begginer. The condition if db == nil does not evaluate as true.

so imagine unit test scenario is not possible to that NewSuscriber returns: errors.New("db is nil")

please try to get db is nil error in a snippet.

Thanks

[2022-09-12 22:21] thpk commented on #286
Have you tried the snippet above? It does work perfectly here.
I suggest you clone the repository and add the the file subscriber_test.go:

[code]

[2022-09-13 15:56] #286 closed, assigned to nobody

[2022-09-20 14:34] mjjs opened #300 "Router persists in running state after closing it"
**What happened**:
Running `router.Run` after `router.Close` returns an error `router is already running`.

Apparently the router's [internal state](https://github.com/ThreeDotsLabs/watermill/blob/master/message/router.go#L338) `router.isRunning` persists in `true` state even after the call to `router.Close`.

This causes any `router.Run` call after close to fail due to [this check](https://github

[2022-10-17 14:41] Kortivex commented on #300
any news about it??

[2022-10-18 04:09] ianthpun commented on #291
i have something very similar, basically a single message that might require mutliple messages sent out to different topics.

So, single place (ex. `change_email_request_handler` injesting from `topic.change_email_request`) that outputs two different messages (ex. `user_detail_changed` topic and `change_email_response`)

[2022-10-20 11:30] Yoleop commented on #300
Have the same behaviour on my project. I'm trying to check if my RabbitMQ connection is down, but it always return a true even when I shutdown the RabbitMQ server by hand.

[2022-10-29 09:05] devinmarder opened #305 "[watermill-amqp] It is not possible to generate queue bindings from topic"
It does not seem like it is possible to generate queue bindings from the topic

The `amqp.Config` allows providing a function to generate a queue binding
[code]

This seems to imply that the topic that is being subscribed to will be bound to the queue with the generated binding key, but this doesn't actually seem possible, even with a custom implementation of the topology builder.

The default top

[2022-11-02 14:42] hristobojilov opened #307 "Problem with Subscriber.Subscribe and goroutine leaks."
When _router.Close()_ is invoked:

-  all running subscribers are notified asynchronously
- _router.Close()_ doesn't wait until _func (h *handler) handleClose(ctx context.Context_) is complete.

The result is that some go routines created by _Subscriber.Subscribe_ are still running for some time after the router is closed. This synchronization problem causes some of our tests to crash.

Please hav

[2022-11-02 14:53] drinktee opened #308 "Are there any popular opensource projects that use this repo?"
Hello , as I want to use this repo in my company's projects. Are there any popular opensource projects that use this repo?
So that I can learn some real-production code about how they use this repo.

[2022-11-03 16:34] GuyKomari opened #309 "Does watermill support request-response messaging pattern using Go Channel?"
I could not find any reference on that topic...

[2022-11-04 18:47] flowck commented on #308
- 2.6k ⭐️ https://github.com/devtron-labs/devtron
- 1.5k ⭐️ https://github.com/banzaicloud/pipeline
- 1.3k ⭐️ https://github.com/sagikazarmark/modern-go-application
- 499 ⭐️ https://github.com/formancehq/ledger
- 189 ⭐️ https://github.com/insolar/insolar
- 164 ⭐️ https://github.com/go-vikunja/api
- 106 ⭐️ https://github.com/blackducksoftware/synopsys-detect
- 69 ⭐️ https://github.com/sagikazarmark

[2022-11-04 19:29] m110 commented on #308
Thank you @flowck 🤗

[2022-11-16 07:53] al-ship opened #311 "[watermill-sql] using "offset" > (` + nextOffsetQuery + `) in schema_adapter_postgresql.go is bad idea"
if offset is bigserial, then concurrent inserts into messagesTable not guaranteed to be in chronological order. So row with offset=5 can be inserted earlier than offset=4 and subscriber will skip row with offset=4. I came across this in my application.

[2022-11-21 23:09] codingDr commented on #175
@roblaszczak

I believe I have fixed the issue. I made some modifications and ran the stress tests locally, which passed. I would fork and submit a PR, but I have already forked for my own confluent-kafka-go implementation, so I will just post the code snippet here for you or someone else with permissions to the repo.

`func (h consumerGroupHandler) ConsumeClaim(sess sarama.ConsumerGroupSession, c

[2022-11-24 03:51] guihouchang opened #313 "Does have message.Router interface？"
need a interface like

[code]

[2022-11-24 17:23] ivaaaan opened #314 "Support for HTTP subscribers in Google Cloud Pubsub?"
Hey. Maybe it's not an issue, but is there a support for HTTP pub/sub with Google Cloud? What I mean is something like this:

https://cloud.google.com/run/docs/tutorials/pubsub

Would be nice to add a method to the Google Pub/Sub to return an HTTP server

[2022-11-30 01:32] AlexCuse commented on #299
The watermill nats implementation actually doesn't support NATS 😆It targets the deprecated nats-streaming server https://github.com/nats-io/nats-streaming-server

I don't know about nats-streaming and it's STAN client but `message.Reply` is pretty easy to implement for both NATS core and jetstream using the nats.go client.  I think it would be simple with the rabbitmq client also, less sure about